{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<div class="container">
<br><br>
    <h1>Hello !</h1>
    <br><br>
    <h2>A new site is in development and will be available soon! <br>
    In the meantime, you can contact me by email: <span>ryankadri.dev@gmail.com</span></h2>
</div>
{% endblock %}
